{% extends 'supplier/supplier_base.html' %}
{% load static %}
{% block meta %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin/admin_dashboard.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin/admin_product_list.css' %}" />
{% endblock %}
{% block title %}
  Admin Products List
{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="filter-box">
      <div>Search box</div>
      <h2>My Products</h2>
      <div>
        <a href="/supplier/add-product" class="anchor-button">Add New Product</a>
      </div>
    </div>
    <div class="card-container">
      {% if products_list %}
        {% for product in products_list %}
          <div class="item-card {% if product.stock < 20 and product.stock > 4 %}low-stock{% endif %} {% if product.stock < 5 and product.stock > 0 %}very-low-stock{% endif %}" id="productCard">
            <img src="{% static 'images/no-image.png' %}" alt="{{ product.name }}" />
            <div>
              <span class="bold">{{ product.name }}</span>
            </div>
            <div>
              <span class="bold">Description:&nbsp;</span>{{ product.description }}
            </div>
            <div>
              <span class="bold">Rs:&nbsp;</span>{{ product.unit_price }}
            </div>
            <div>
              <span class="bold">Stock:&nbsp;</span>{{ product.stock }}
            </div>
            <div>
              <span class="bold">Status:&nbsp;</span>{% if product.active_status %}
                 Available
              {% else %}
                Not Available
              {% endif %}
            </div>
            <div>
              <button id="editBtn" class="btn btn-dark edit-btn" data-product-id="{{ product.id }}">Edit</button>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="empty-status">No products.</div>
      {% endif %}
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('.edit-btn').on('click', function () {
        var productId = $(this).data('product-id')
        var purchaseUrl = '/supplier/' + productId +'/edit'
    
        window.location.href = purchaseUrl
      })
    })
  </script>
{% endblock %}
