{% extends 'supplier/supplier_base.html' %}
{% load static %}
{% block meta %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin/admin_dashboard.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin/admin_product_list.css' %}" />
{% endblock %}
{% block title %}
  Supplier Dashboard
{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="filter-box">
      <div class="d-flex align-items-center gap-20">
        <form method="get" action="{% url 'supplier_dashboard' %}">
          <input type="text" name="search" placeholder="Search products..." value="{{ search_query }}" />
          <button type="submit" class="btn-dark">Search</button>
        </form>
        {% if search_query %}
          <button id="clear" class="btn-light btn-outline-secondary ml-2" data-url-id="{% url 'supplier_dashboard' %}">Clear</button>
        {% endif %}
      </div>
      <h2>My Products</h2>
      <div>
        <a href="/supplier/add-product" class="anchor-button">Add New Product</a>
      </div>
    </div>
    <div class="card-container">
      {% if products_list %}
        {% for product in products_list %}
          <div class="item-card {% if product.stock < 20 and product.stock > 4 %}{% endif %} {% if product.stock < 5 and product.stock > 0 %}{% endif %}" id="productCard">
            <img src="{% static 'images/no-image.png' %}" alt="{{ product.name }}" />
            <div>
              <span class="bold">{{ product.name }}</span>
            </div>
            <div>
              <span class="bold">Description:&nbsp;</span>{{ product.description }}
            </div>
            <div>
              <span class="bold">Rs:&nbsp;</span>{{ product.unit_price }}
            </div>
            <div>
              <span class="bold">Stock:&nbsp;</span>{{ product.stock }}
            </div>
            <div>
              <span class="bold">Status:&nbsp;</span>{% if product.active_status %}
                Available
              {% else %}
                Not Available
              {% endif %}
            </div>
            <div>
              <button id="editBtn" class="btn btn-dark edit-btn" data-product-id="{{ product.id }}">Edit</button>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="empty-status">No products.</div>
      {% endif %}
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('.edit-btn').on('click', function () {
        var productId = $(this).data('product-id')
        var purchaseUrl = '/supplier/product/' + productId + '/edit'
    
        window.location.href = purchaseUrl
      })
    
      $('#clear').on('click', function () {
        var clearUrl = $(this).data('url-id')
        window.location.href = clearUrl
      })
    })
  </script>
{% endblock %}
